@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

body{
  @apply font-karla text-primary bg-lightPink
}
/* Typography */
.logo{
  text-shadow: -2px 4px #24494f;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #151928;
}
.greeting{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4D807C;
  @apply font-grotesk text-lightPink font-bold text-6xl max-w-xl py-2 mb-5 md:text-8xl
}
.subtitle{
  text-shadow: -2px 4px #5F1C1C;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #011423;
  @apply font-rubik text-xl text-[#D2C193]
}

.description{
  @apply text-base py-2 leading-7 text-gray-800
}

.container{
  @apply px-10 md:px-20 lg:px-40 mx-auto
}


/* COMPONENTS */
.social{
  @apply bg-primary rounded-md py-1 px-2 text-light
}
.card{
  box-shadow: 1px 1px 5px #999;
  @apply text-center  p-10 rounded-xl my-10
}
.card--title{
  @apply text-lg font-medium mt-8 mb-2
}
.projects--card{
  box-shadow: 1px 1px 5px #999;
  @apply max-w-lg mx-auto rounded-lg
}
/* LAYOUT */
.hero{
  @apply mt-20
}