@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

body{
  @apply font-karla text-light bg-[#4D807C]
}
.container{
  @apply px-10 md:px-20 lg:px-40 border border-red-600
}